/* font-family: 'Tinos', serif;
font-family: 'Yantramanav', sans-serif; */
/* color: #BB7043; */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
main {
  background: #212121;
}

#nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.header {
  background: url("../src/img/bar1.png") center / cover no-repeat;
  color: #fff;
  text-align: center;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Yantramanav', sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 10px;
  width: 40%;
  margin: 0 auto;
}
.span-h1 {
  display: block;
  font-size: 7rem;
}

#about-section {
  min-height: 100vh;
  background: url("../src/img/bar2_1.png") right / 60% no-repeat;
  margin: 15vh 0 10vh;
}

.description {
  width: 30%;
  padding: 10vh 0 0 7%;
  color: #fff;
}
.description-title2, .description-title1, .acts-h3{
  text-transform: uppercase;
}
.description-title2 {
  font-size: 4rem;
  font-weight: 400;
  margin: 2vh 0;
}
.description-p {
  font-size: 1.4rem;
  width: 75%;
}
button {
  padding: 2vh 40px;
  background: #BB7043;
  font-size: 1rem;
  margin-top: 2vh;
  border: none;
}

#acts {
  min-height: 80vh;
  background:  #BB7043;
}
.acts-h3 {
  width: 75%;
  padding: 15vh 0;
  margin: 0 auto;
  /* font-weight: 400; */
  word-spacing: 3px;
}
.grid {
  display: flex;
  justify-content: center;
}
#show {
  width: 30%;
  margin-bottom: 20vh;
}
.foto-container {
  position: relative;
  min-height: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.foto-container img {
  width: 100%;
}
.centered {
  position: absolute;
  top: 35%;
  color: #fff;
  font-size: 2.7rem;
  /* font-weight: 400; */
  width: 52%;
}

.timetable{
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
  /* font-weight: 400; */
}
.show-text {
  /* font-weight: 400; */
  font-size: 1.2rem;
  width: 70%;
}


#cocktail {
  background: url(../src/img/3gins.png) right / 60% no-repeat;
  min-height: 100vh;
}

#instagram {
  min-height: 110vh;
  display: flex;

}
#insta-card {
  width:50%;
  text-align: center;
  border: 1px solid #7F7F7F;
  border-left: none;
  border-bottom: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3vh;
}
figure {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width:70%;
}
.insta-p {
  /* width: 70%; */
  font-size: 2rem;
  padding: 0;
}
.insta-h3 {
  text-transform: uppercase;
  margin: 4vh;
}
.insta-logo {
  margin-left: 50%;
}

#footer-nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: flex-end;
  padding: 5vh 0;
  border-bottom: 1px solid #7F7F7F; 
  border-top: 1px solid #7F7F7F; 
}
#footer-logo {
  width: 13%;
  margin-left: 10%;
}
#footer-nav ul {
  text-transform: uppercase;
  color: #BB7043;
  list-style: none;
}
#footer-nav ul li:first-child{
  margin-top: 2vh;
}
#footer-nav li {
  color: #fff;
}

footer {
  /* display: flex; */
  align-items: center;
  height: 25vh;
}
#badewanne {
  height: 18vh;
  display: flex;
  justify-content: center;
  /* display: inline-block; */
}
.media-logos {
  margin-right: 10%;
  display: inline-block;
}
.media-logos img {
  padding: 10px;
}
#contact, #shop {
  background:  #BB7043;
}
.contact-intro {
  height: 60vh;
  background: url(../src/img/contact_bar.svg) right / 50% no-repeat;
}

.contact-map {
  background: url(../src/img/contact_map.png) center / cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-adress {
  font-size: 4rem;
  text-align: center;
  background: #C4C4C4;
  text-transform: uppercase;
  width: 40%;
  padding: 20px 0
}

.contact-form {
  height: 60vh;
}
.contact-adress {
  font-size: 3.5rem;
}

.open-shop {
  background: url(./img/shop_bild.png) center / 100% no-repeat;
  height: 85vh;
}
.coming-soon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-h2 {
  font-size: 7rem;
  text-transform: uppercase;
}
